.modal-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: var(--color-modal-background);
  padding: 2.4rem;
  position: relative;
  width: 85%;
  max-width: 500px;
  font: 400 Poppins var(--color-font);
}
