#page-home {
  background: #f0f2f5;
  font-family: "Poppins", sans-serif;
}

.container {
  width: min(90vw, 800px);
  margin: auto;
}

/*! Titles  */
h2 {
  margin-top: 3.2rem;
  margin-bottom: 0.8rem;
  color: var(--color-subtitle);
  font-weight: 400;
}

/*! Links & Buttons  */
.button.new {
  background-color: #f0f2f5;
  color: var(--color-green);
  border: none;
  font: 400 1rem Poppins;
  outline-style: none;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0.8rem;
  transition: all 0.4s;
}

.button.new:hover {
  color: var(--color-green-dark);
}

/*! Header  */
#page-home header {
  background: var(--color-header-background);
  padding: 2rem 0 10rem;
  text-align: center;
}

#page-home header h1 {
  color: #fff;
  font: 400 2rem "Yusei Magic";
}

#page-home header h1 .alternative-text-1 {
  color: var(--color-red);
  margin-right: -0.5rem;
}

#page-home header h1 .alternative-text-2 {
  color: var(--color-green);
}

/*! Balance  */
#page-home .container #balance {
  margin-top: -4.5rem;
}

/*! Cards  */
#page-home .container #balance .card {
  background: #fff;
  padding: 1.5rem 2rem;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
  color: var(--color-font);
}
#page-home .container #balance .card.total {
  background-color: var(--color-green);
  color: #fff;
}

#page-home .container #balance .card h3 {
  font-weight: 400;
  font-size: 1.3rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#page-home .container #balance .card p {
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 0.8rem;
}

/*! Modal Form */
#portal #form {
  max-width: 500%;
  font-family: "Poppins", sans-serif;
}

#portal #form h2 {
  margin-top: 0;
}
#portal #form .input-group {
  margin-top: 0.8rem;
}

#portal #form form input {
  border: none;
  outline-style: none;
  padding: 0.7rem;
  width: 100%;
}

#portal #form .input-group small {
  opacity: 0.6;
}

#portal #form .input-group.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#portal #form .input-group.actions button {
  cursor: pointer;
  width: 48%;
  height: 50px;
  border: none;
  border-radius: 0.25rem;
  background: var(--color-green);
  color: #fff;
  padding: 0;
  transition: all 0.4s;
  font-family: Poppins;
  outline-style: none;
}

#portal #form .input-group.actions button:hover {
  background: var(--color-green-dark);
}

#portal #form .input-group.actions .button.cancel {
  color: var(--color-red);
  border: 2px solid var(--color-red);
  background: var(--color-modal-background);
  opacity: 0.6;
  transition: opacity 0.4s;
  outline-style: none;
}

#portal #form .input-group.actions .button.cancel:hover {
  opacity: 1;
}

/*! Transactions Table  */
#page-home .container #transaction {
  display: block;
  width: 100%;
  overflow-x: auto;
}

#page-home .container #transaction #transactions-table {
  width: 100%;
  border-spacing: 0 0.4rem;
}

#page-home .container #transaction #transactions-table thead {
  color: var(--color-font);
}

#page-home .container #transaction #transactions-table thead th {
  background: #fff;
  font-weight: 400;
  padding: 1rem 2rem;
  text-align: left;
}

#page-home .container #transaction #transactions-table thead tr th:first-child {
  border-radius: 0.4rem 0 0 0.4rem;
}

#page-home .container #transaction #transactions-table thead tr th:last-child {
  border-radius: 0 0.4rem 0.4rem 0;
}

/*! Footer  */
footer {
  text-align: center;
  padding: 4rem 0 2rem;
  opacity: 0.4;
  color: var(--color-font);
  transition: opacity 0.4s ease-out;
}

footer:hover {
  opacity: 1;
}

/*! Responsividade */
@media (min-width: 768px) {
  #page-home .container #balance {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
}
