.table-row td:first-child {
  border-radius: 0.4rem 0 0 0.4rem;
}

.table-row td:last-child {
  border-radius: 0 0.4rem 0.4rem 0;
}

.table-row {
  color: var(--color-font);
  opacity: 0.75;
}

.table-row:hover {
  opacity: 1;
}

.table-row td {
  background: #fff;
  padding: 1rem 2rem;
}

.table-row td:last-child img {
  display: flex;
  justify-content: center;
}

.table-row .description {
  color: var(--color-font);
}

.table-row .income {
  color: var(--color-green);
}

.table-row .expense {
  color: var(--color-red);
}
